.navbar-toggle .icon-bar{
    background-color: black;
}
.navbar{
    background-color:#34495e;
}
.nav li a{
    font-size: 18px;
    color: white;
}
.nav li a:hover{
    color: green;
    background: none;

}
#back_image{
    background-image: linear-gradient(0deg,rgba(255, 255, 255, 0.705),rgba(255, 255, 255, 0.6)),url("../Images/computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: auto;
    margin-top: -20px;
}
